* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image:url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
  height: 400px;
  width: 100%;
}

h1 {
  padding: 20px;
  color: dimgrey;
}

main {
  width: 840px;
  margin: 50px auto;

}

section {
  padding-bottom:30px;
  margin: 30px;
  border-bottom: 0.5px solid dimgrey;
}
