* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.nav-list  {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
}

.main {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.a,.b,.c,.d,.e,.f,.g,.h,.i,.j,.k,.l {
  width: 200px;
  height: 200px;
}

.a {
  background-color: #e6ffe9;
}

.b {
  background-color:  #cbffd3;
}

.c {
  background-color: #aeffbd;
}

.d {
  background-color:  #93ffab;
}

.e {
  background-color: #f3ffd8;
}

.f {
  background-color: #edffbe;
}

.g {
  background-color: #e9ffa5;
}

.h {
  background-color: #e4ff8d;
}

.i {
  background-color: #d9e5ff;
}

.j {
  background-color: #bad3ff;
}

.k {
  background-color: #a4c6ff;
}

.l {
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color:white;
}